body {
    font-family: 'Comfortaa', cursive;
    background-image: url(images/background.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a, h2 {
    text-decoration: none;
    font-size: 18px;
    color: #E9D6CC;
    font-weight: lighter;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 10px;
}

.header {
    color: #E9D6CC;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    background-color: #2D1822;
    padding: 10px 30px;
    border-radius: 5PX;
}

.main-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    margin: 50px;
    background-color: #2D1822;
    border-radius: 20px;
}

.main-img {
    width: 200px;
    height: auto;
}

.button-top {
    background-color: #634E72;
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid;
    color: #E9D6CC;
    font-weight: bold;
}

.image-container {
    background-color: #634E72;
    border-radius: 20px;
    padding: 80px 100px ;
    color: #E9D6CC;
    margin: 50px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}

.album-container {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: space-between;
    
}

.image-grid {
    aspect-ratio: 1/1;
    width: 200px;
    height: auto;
    border: 5px solid;
    border-color: #2D1822;
}

.quote-container {
    padding: 80px 80px ;  
    background-color: #E9D6CC;
    border-radius: 20px;
    color: #2D1822;
}

.quote {
    font-style: italic;
    font-weight: lighter;
}
h2.title {
    color: #2D1822;
    text-align: right;
    font-weight: bolder;
}

.ad-container {
    background-color: #2D1822;
    color: #E9D6CC;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up {
    background-color: #2D1822;
    color: #E9D6CC;
    border-radius: 10px;
    padding: 8px 20px;
    font-weight: bold;
    border-color: #E9D6CC;
    border: 2px solid;
}

footer {
    text-align: center;
    background-color: #634E72;
    padding: 20px 0;
    color: #E9D6CC;
}